dify_backend_tools/current_grt_price_usd.yml
app:
  description: Pulls the current price of GRT in USD
  icon: 🪙
  icon_background: '#D3F8DF'
  mode: workflow
  name: current_grt_price_usd
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 07838f5a-a8ec-4578-929d-b6e3124c511e
    name: thegraph_api_key
    selector: []
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 10
        file_size_limit: 150
        image_file_size_limit: 100
        video_file_size_limit: 500
        workflow_file_upload_limit: 30
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1735254516153-source-1735254525629-target
      source: '1735254516153'
      sourceHandle: source
      target: '1735254525629'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1735254525629-source-1735254566888-target
      source: '1735254525629'
      sourceHandle: source
      target: '1735254566888'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1735254566888-source-1735254660522-target
      source: '1735254566888'
      sourceHandle: source
      target: '1735254660522'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 52
      id: '1735254516153'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1
            key: ''
            type: text
            value: "{\n  \"query\": \"{assetPairs(where:{id:\\\"GRT/USD\\\"}) { currentPrice\
              \ }}\"\n}\n"
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: https://gateway.thegraph.com/api/{{#env.thegraph_api_key#}}/subgraphs/id/4RTrnxLZ4H8EBdpAQTcVc7LQY9kk85WNLyVzg5iXFQCH
        variables: []
      height: 159
      id: '1735254525629'
      position:
        x: 383
        y: 282
      positionAbsolute:
        x: 383
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(query_response: str) -> dict:\n    data = json.loads(query_response)\n\
          \    price = float(data['data']['assetPairs'][0]['currentPrice'])\n    return\
          \ {\n        \"price\": price\n    }"
        code_language: python3
        desc: ''
        outputs:
          price:
            children: null
            type: number
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1735254525629'
          - body
          variable: query_response
      height: 52
      id: '1735254566888'
      position:
        x: 686
        y: 282
      positionAbsolute:
        x: 686
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1735254566888'
          - price
          variable: price
        selected: true
        title: End
        type: end
      height: 88
      id: '1735254660522'
      position:
        x: 989
        y: 282
      positionAbsolute:
        x: 989
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -699.5
      y: -11.5
      zoom: 1
